<!-- cette vue et la destination de la redirection faite par 
le controlleur spring apres une connexion reussie avec facebook 

afin d'alleger un peu l'application j'ai fait de cette page une 
simple page de redirection pour parvenir à la partie front -->
<html>
    <head>
        <meta http-equiv="refresh" content="0; url=http://localhost:8080/helloFb"></meta>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href="/helloFb">link to gallery</a>.
    </body>
</html>